<!--<p>lista-distribuidor works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner">Distribuidores</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
        </div>
        <!--Tabla-->
        <div class="contenedorTabla">
            <table *ngIf="listDistribuidor.length > 0" class="styled-table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre del distribuidor</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Actividades</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listDistribuidor">
                    <td> {{ item.id }} </td>
                    <td> {{ item.Nom_Distr }} </td>
                    <td> {{ item.Desc_Distr }} </td>
                    <td>
                      <div *ngIf="item.id != 1" class="contenedorUD">
                        <button routerLink="/super-admin/sucursal/{{item.id}}" class="botonEditData">
                          <mat-icon>edit</mat-icon>
                        </button>

                        <button (click)="deleteDistribuidorS(item.id!)" class="botonEliminar">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h6 *ngIf="listDistribuidor.length == 0">Upps! No hay sucursales para mostrar</h6>
        </div>
        <div>
            <button class="botonesAgregar" routerLink="/admin/nuevo-distribuidor">
                Agregar Distribuidor
            </button>
        </div>
    </div>

</div>
<div>
    <p>Distribuidor</p>
</div>
