<!--<p>tienda works!</p>-->
<link rel="stylesheet" href="../../../../css/home.css">

<!--El aparador de la tienda,la primera pagina que ve el cliente al ingresar-->
<div class="contenedorTienda">

  <!--Apartado de la exposicion de productos-->
  <div class="contenedorProductos">

    <!--Titulo del apartado-->
    <div class="encabezados">
        <h1 class="Examiner">Tienda</h1>
    </div>

    <!-- Contenedor de productos -->
    <div class="contenedor-imagenes">
      <div class="imagen" routerLink="/sr-macondo/productos">
          <img src="/assets/image/productos.jpg" alt="productos">
          <div class="texto-centro">Productos</div>
      </div>
      <div class="imagen" routerLink="/sr-macondo/menu">
        <img src="/assets/image/menu.jpg"  alt="">
        <div class="texto-centro">Menu</div>
      </div>
      <div class="imagen" routerLink="/sr-macondo/sucursales">
        <img src="/assets/image/sucursales.jpg" alt="">
        <div class="texto-centro">Sucursales</div>
      </div>
      <div class="imagen" routerLink="/sr-macondo/juegos">
        <img src="/assets/image/futbolito.jpg" alt="">
        <div class="texto-centro">Juegos</div>
      </div>
    </div>
  </div>

  <br>

  <!--Apartado lateral donde se estan los botones de acceder a las paginas: acerca de, notificame-->
  <div class="contenedorLateral">
    <div class="backgroundTiendaLateral">
      <div class="subLateralTienda">Bienvenido</div>
      <div class="botonesLateralesGrupo">
        <!--Boton que lleva a la pagina acerca de-->
        <button class="botonLateral" routerLink="/sr-macondo/acerca-de">
          <mat-icon>info</mat-icon> Acerca de
        </button>
        <!--Boton que va a el servicio de solicitud de noticias de sr. Macondo-->
        <button class="botonLateral" routerLink="/sr-macondo/avisame">
          <mat-icon>notifications</mat-icon> Notifícame
        </button>
        <button class="botonLateral" routerLink="/sr-macondo/mapa">
          <mat-icon>map</mat-icon> Localizate
        </button>
        <button class="botonLateral" routerLink="/sr-macondo/pago">
          <mat-icon>credit_card</mat-icon>
          Pagar
        </button>
        <button class="botonLateral" routerLink="/sr-macondo/weather">
          <mat-icon>cloud</mat-icon>
          Ver Clima
        </button>
        <button class="botonLateral" routerLink="/sr-macondo/videos">
          <mat-icon>play_circle</mat-icon>
          Ver Videos
        </button>
        <button class="botonLateral" routerLink="/sr-macondo/instagram">
          <mat-icon>photo_camera</mat-icon>
          Ver Instagram
        </button>
        <button class="botonLateral" routerLink="/sr-macondo/callback">
          <mat-icon>library_music</mat-icon> Musica!
        </button>
        <button class="botonLateral" routerLink="/sr-macondo/chatbot">
          <mat-icon>smart_toy</mat-icon> Consulta!
        </button>
        <button class="botonLateral" routerLink="/sr-macondo/whatsapp">
          <mat-icon>message</mat-icon>
          WhatsApp
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Otros elementos de tu página -->

<div class="contenedorProductos">
  <div class="encabezados">
    <h1 class="Examiner">Nuestras redes sociales!</h1>
  </div>

  <!-- Plugin de Facebook con el enlace actualizado al perfil de Señor Macondo -->
  <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61566862016197" data-tabs="timeline,events,messages" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/profile.php?id=61566862016197" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/profile.php?id=61566862016197">Señor Macondo</a>
    </blockquote>
  </div>

  <!-- Botón para iniciar sesión en Facebook -->
  <div class="login-section">
    <button (click)="loginWithFacebook()">Iniciar sesión con Facebook</button>
  </div>

  <!-- Mostrar los datos del usuario si ha iniciado sesión -->
  <div *ngIf="userData">
    <h2>Bienvenido, {{ userData.name }}</h2>
    <p>Email: {{ userData.email }}</p>
    <img [src]="userData.picture.data.url" alt="Foto de perfil">
  </div>
</div>
