<!--<p>principal-sa works!</p>-->
<link rel="stylesheet" href="../../../../css/sa-contenido.css">

<div class="principalContenedor">
    <div class="botonContenedor">
        <button class="botonPrincipal" routerLink="/admin/mensajes">Mensajes</button>
        <button class="botonPrincipal" routerLink="/admin/distribuidores">Distribuidores</button>
        <button routerLink="/empleado" class="botonEmpleado">
          Empleado
        </button>
        <button *ngIf="mostrarBotonRegresar" (click)="regresar()" class="botonRegresar">
          Regresar
        </button>
    </div>
    <div class="cuadroTabla">
      <h1 class="Examiner"> Empleados</h1>
      <table *ngIf="listEmpleado.length > 1" class="styled-table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre completo</th>
            <th scope="col">Estado</th>
            <th scope="col">Rol</th>
            <th scope="col">Sucusal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listEmpleado">
            <td *ngIf="item.id != 1">{{ item.id }}</td>
            <td *ngIf="item.id != 1">{{ item.Emp_Nom }} {{ item.Ape_Pat }} {{ item.Ape_Mat }}</td>
            <td *ngIf="item.id != 1">{{ item.Estado ? 'Presente' : 'Ausente' }}</td>
            <td *ngIf="item.id != 1">{{ item.IDRol ? getRolName(item.IDRol) : 'Desconocido' }}</td>
            <td *ngIf="item.id != 1">{{ item.IDSucursal ? getSucursalName(item.IDSucursal) : 'Desconocido' }}</td>
          </tr>
        </tbody>
      </table>
      <h6 *ngIf="listEmpleado.length == 1">Upps! No hay empleados para mostrar</h6>
    </div>

</div>


