<link rel="stylesheet" href="../../../../../css/home.css">

<div class="contenedorLista">
  <div class="backgroundHome">

      <!--Titulo del apartado-->
      <div class="encabezados">
          <h1 class="Examiner">Menu</h1>
      </div>

      <!--Botones de navegacion a home-->
      <div class="contenedorRegresar">
          <button class="botonNavegacion" routerLink="/sr-macondo/tienda">
              <mat-icon>home</mat-icon>
          </button>
      </div>
      <div class="contenedorCard">
        <div class="card" *ngFor="let producto of ListProducto | filterProductsByType: 2">
            <img [src]="producto | productoImage " [alt]="producto.Nom_Prod"
                [ngStyle]="{ 
                    'width': '90%', 
                    'height': 'auto',
                    'max-height': '9rem',
                    'object-fit': 'cover',
                    'margin': '10px'
                }">
            <div class="card-body">
                <h5 class="card-title">{{producto.Nom_Prod}}</h5>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Existencias: {{producto.Exist_Prod}}</small>
            </div>
        </div>

  </div>
</div>
