<!--<p>lista-juego works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner">Notas</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
        </div>
        <!--Tabla-->
        <div class="contenedorTabla">
            <table *ngIf="ListNotas.length > 0" class="styled-table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Remitente Nota</th>
                    <th scope="col">Nota</th>

                    <th scope="col"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of ListNotas">
                    <td>{{ item.id }}</td>
                    <td>{{ item.Remi_Nota }}</td>
                    <td>{{ item.Nota_Glob}}</td>

                    <td>
                      <div class="contenedorUD">
                        <button routerLink="/admin/mensaje/{{item.id}}" class="botonEditData">
                          <mat-icon>edit</mat-icon>
                        </button>

                        <button (click)="deleteNota(item.id!)" class="botonEliminar">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h6 *ngIf="ListNotas.length == 0">Upps! No hay Notas para mostrar</h6>
        </div>
        <div>
            <button class="botonesAgregar" routerLink="/admin/nuevo-mensaje">
                Agregar Nota
            </button>
        </div>
    </div>

</div>
<div>
    <p>juegos</p>
</div>

