<!--<p>lista-juego works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner">Juegos</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/super-admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
        </div>
        <!--Tabla-->
        <div class="contenedorTabla">
            <table *ngIf="listJuego.length > 0" class="styled-table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Juego</th>
                    <th scope="col">Precio en pesos</th>
                    <th scope="col">Tiempo de renta</th>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of listJuego">
                    <td>{{ item.id }}</td>
                    <td>{{ item.Nom_Jueg }}</td>
                    <td>{{ item.Precio }}</td>
                    <td>{{ item.Tiempo }}</td>
                    <td>{{ item.Dispon_Jueg? 'Disponible' : 'No Disponible' }}</td>
                    <td>
                      <div class="contenedorUD">
                        <button routerLink="/super-admin/juego/{{item.id}}" class="botonEditData">
                          <mat-icon>edit</mat-icon>
                        </button>

                        <button (click)="deleteJuego(item.id!)" class="botonEliminar">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h6 *ngIf="listJuego.length == 0">Upps! No hay juegos para mostrar</h6>
        </div>
        <div>
            <button class="botonesAgregar" routerLink="/super-admin/nuevo-juego">
                Agregar Juego
            </button>
        </div>
    </div>

</div>
<div>
    <p>juegos</p>
</div>

