<!--<p>lista works!</p>-->
<link rel="stylesheet" href="../../../../css/home.css">
<!--Contenedor donde vendra todo lo relacionado a los productos en existencia-->
<div class="contenedorHome">
    <div class="backgroundHome">
        <!--Titulo del apartado-->
        <div class="encabezadoProducto Examiner">
            Productos
        </div>
        <!--Botones de navegacion a home-->
        <div class="contenedorRegresar">
            <button class="botonNavegacion" routerLink="/sr-macondo/tienda">
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>
</div>
