<!--<p>acerca-de works!</p>-->
<link rel="stylesheet" href="../../../../css/home.css">
<!--Contenedor donde vendra todo lo relacionado a acerca de-->
<div class="contenedorHome">
    <div class="backgroundHome">

        <!--Titulo del apartado-->
        <div class="encabezados">
            <h1 class="Examiner">Donde nos encontramos?</h1>
        </div>

        <!--Botones de navegacion a home-->
        <div class="contenedorRegresar">
            <button class="botonNavegacion" routerLink="/sr-macondo/avisame">
                <mat-icon>notifications</mat-icon>
            </button>
            <button class="botonNavegacion" routerLink="/sr-macondo/tienda">
                <mat-icon>home</mat-icon>
            </button>
        </div>

        <h5 class="balsamiq-sans-regular">Mapa Señor Macondo</h5>
        <!-- Para agregar la informacion del banco-->


        <div class="contenedoDiv">
            
               
                    
                 <app-map-screen></app-map-screen>
        </div>
</div>
