<!--<p>nuevo-distribuidor works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner">{{ operacion }}Distribuidor</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/admin/distribuidores">
                    <mat-icon>undo</mat-icon>
                </button>
            </div>
        </div>
        <!--Contenedor del formulario-->
        <div class="contenedorInfo">
            <h3 >Datos de distribuidor</h3>

            <form [formGroup]="formAddDistribuidor" (ngSubmit)="agregarDistribuidor()">

                <div class="mb-3">
                  <label for="Nom_Distr" class="form-label">Distribuidor</label>
                  <input formControlName="Nom_Distr" type="text" class="form-control" id="Nom_Distr" placeholder="Nombre del distribuidor">
                  <samp *ngIf="(formAddDistribuidor.get('Nom_Distr')?.hasError('required') ||formAddDistribuidor.get('Nom_Distr')?.hasError('minlength') ) && formAddDistribuidor.get('Nom_Distr')?.touched">
                      * El campo nombre es <strong>requerido</strong>
                  </samp>
                  <samp *ngIf="formAddDistribuidor.get('Nom_Distr')?.hasError('maxlength')">
                    * No debe exceder los 20 caracteres
                  </samp>
                </div>

                <div class="mb-3">
                  <label for="Desc_Distr" class="form-label">Descripción</label>
                  <input formControlName="Desc_Distr" type="text" class="form-control" id="Desc_Distr" placeholder="Describe los productos que vende el distribuidor">
                  <samp *ngIf="(formAddDistribuidor.get('Desc_Distr')?.hasError('required') ||formAddDistribuidor.get('Desc_Distr')?.hasError('minlength') ) && formAddDistribuidor.get('Desc_Distr')?.touched">
                      * El campo descripción es <strong>requerido</strong>
                  </samp>
                  <samp *ngIf="formAddDistribuidor.get('Desc_Distr')?.hasError('maxlength')">
                    * No debe exceder los 300 caracteres
                  </samp>
                </div>

                <div class="grupoBotones">
                    <button [disabled]="formAddDistribuidor.invalid" type="submit" class="botonAgreMod">Guardar</button>
                </div>

            </form>

          </div>



        <!--Botones para guardar la informacion del empleado-->
        <div class="contenedorBotones">

            <!--<div class="grupoBotones">
                <button [disabled]="formAddSucursal.invalid" type="submit">Agregar</button>
            </div>-->
        </div>
    </div>

</div>
<div>
    <p>Distribuidor</p>
</div>
