<!--<p>nueva-sucursal works!</p>-->
<link rel="stylesheet" href="../../../../../css/sa-contenido.css">

<div clss="principalContenedor">
    <!--Fondo de color-->
    <div class="fondoSA">
        <!--Titulo-->
        <h1 class="Examiner">{{ operacion }}Sucursal</h1>
        <!--Botones de navegacion-->
        <div class="contenedorBotones">
            <div class="grupoBotones">
                <button class="botonNavegacion" routerLink="/super-admin/principal">
                    <mat-icon>home</mat-icon>
                </button>
                <button class="botonNavegacion" routerLink="/super-admin/sucursales">
                    <mat-icon>undo</mat-icon>
                </button>
            </div>
        </div>
        <!--Contenedor del formulario-->
        <div class="contenedorInfo">
            <h3 >Datos de sucursal</h3>

            <form [formGroup]="formAddSucursal" (ngSubmit)="agregarSucursal()">

                <div class="mb-3">
                    <label for="Nom_Suc" class="form-label">Nombre Sucursal</label>
                    <input formControlName="Nom_Suc" type="text" class="form-control" id="Nom_Suc" placeholder="Ingresar nombre de la sucursal">
                    <samp *ngIf="(formAddSucursal.get('Nom_Suc')?.hasError('required') || formAddSucursal.get('Nom_Suc')?.hasError('minlength')) && formAddSucursal.get('Nom_Suc')?.touched">
                        * Se requiere un nombre para la <strong>sucursal</strong>
                    </samp>
                    <samp *ngIf="formAddSucursal.get('Nom_Suc')?.hasError('maxlength')">
                      * No debe exceder los 30 caracteres
                    </samp>
                </div>
                <div class="mb-3">
                    <label for="Loc_Suc" class="form-label">Localización</label>
                    <input formControlName="Loc_Suc" type="text" class="form-control" id="Loc_Suc" placeholder="Agregar localización">
                    <samp *ngIf="(formAddSucursal.get('Loc_Suc')?.hasError('required') || formAddSucursal.get('Loc_Suc')?.hasError('minlength'))  && formAddSucursal.get('Loc_Suc')?.touched">
                        * Se necesita una <strong>localidad</strong>
                    </samp>
                    <samp *ngIf="formAddSucursal.get('Loc_Suc')?.hasError('maxlength')">
                      * No debe exceder los 60 caracteres
                    </samp>
                </div>
                <div class="mb-3">
                    <label for="Des_Suc" class="form-label">Descripción</label>
                    <input formControlName="Des_Suc" type="text" class="form-control" id="Des_Suc" placeholder="Datos sobre la sucursal">
                    <samp *ngIf="(formAddSucursal.get('Des_Suc')?.hasError('required') || formAddSucursal.get('Des_Suc')?.hasError('minlength')) && formAddSucursal.get('Des_Suc')?.touched">
                        * El campo descripción es <strong>requerido</strong>
                    </samp>
                    <samp *ngIf="formAddSucursal.get('Des_Suc')?.hasError('maxlength')">
                      * No debe exceder los 300 caracteres
                    </samp>
                </div>

                <div class="mb-3">
                  <label for="Img_Suc" class="form-label">Link imagen de la sucursal</label>
                  <input formControlName="Img_Suc" type="text" class="form-control" id="Img_Suc" placeholder="Link de la imagen">
                  <samp *ngIf="(formAddSucursal.get('Img_Suc')?.hasError('required') ||formAddSucursal.get('Img_Suc')?.hasError('minlength') ) && formAddSucursal.get('Img_Suc')?.touched">
                      * El campo descripción es <strong>requerido</strong>
                  </samp>
                  <samp *ngIf="formAddSucursal.get('Img_Suc')?.hasError('maxlength')">
                    * No debe exceder los 300 caracteres
                  </samp>
              </div>

                <div class="grupoBotones">
                    <button [disabled]="formAddSucursal.invalid" type="submit" class="botonAgreMod">Guardar</button>
                </div>

            </form>

          </div>



        <!--Botones para guardar la informacion del empleado-->
        <div class="contenedorBotones">

            <!--<div class="grupoBotones">
                <button [disabled]="formAddSucursal.invalid" type="submit">Agregar</button>
            </div>-->
        </div>
    </div>

</div>
<div>
    <p>Sucursales</p>
</div>
